/*reset css*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
   }
   body{
       /*background-color:LAVENDERBLUSH;*/
       background-image: url("../img/flower-4931280_1280.jpg");
       backdrop-filter: blur(2px);
       font-family: 'Balsamiq Sans', cursive;
       background-size: 100vp, 100vp;
       height: 100vp;
       font-size: 12px;
      
   }
   /*se a tela tiver pelo menos 400px vai carregar estes estilos*/
       @media (min-width:400px) {
        body{
          background-color: lightpink;
            font-size:14px;
          }
        }
       @media (min-width:600px) {
          body{
           font-size:18px;
            }
          }
       @media (min-width:1200px) {
          body{
           font-size:30px;
              }
            }
    
     header{
     height:100vh;
     display:flex;
     justify-content: center;
     align-items: center;
     }
     .menu {
       background-color:white;
       position:fixed;
       width:100vw;
       top:0;
       z-index: 1;
     }
     .menu ul{
       display:flex;
       justify-content:space-around;
      }
     .menu li{
       list-style:none;
       color:deeppink;
     }
     .menu a{
      display:block;
      padding: 10px 20px; 
      transition:  background-color 1s, color 1s;
     }
     .menu a:hover{
       background-color: lightcoral;
       color:white;
     }
     a{
       text-decoration: none;
       color: MEDIUMVIOLETRED
      }
     a:hover{
       text-decoration: underline; 
       color: orange;
     }
     .titulo{
       
      transform: scale(0.2) translateY(50vh);
       opacity: 0;
       animation: 1s linear 1s animacaoTitulo forwards;
      }
      @keyframes animacaoTitulo{
        from {
          transform: scale(0.2) translateY(50vh);
          opacity: 0;
      }
      
      to {
          transform: scale(1) translateY(0);
          opacity: 1;
      }
    }

     .site-subtitle,
     .site-title{
       text-align:center;
       color:dODGERBLUe;
       
     }
     .site-title{
      font-size:4em;
      font-family:'Permanent Marker', cursive;
     }
     
     .site-subtitle{
       font-style:italic;
       font-family: 'Patrick Hand', cursive;
       line-height:1,0em;
     }
     section{
      background-size: 10em;
       }
     .sobre,
     .portfolio {
      padding: 2em;
      min-height: 100vh;
      background-color: MISTYROSE;
    }
    @media (mimwidth:1200px){
      .container{
      max-width: 1200px;
      margin-left: auto;
      margin-right:auto;
      }
    }
     .sobre h2,
    .contato h2, 
    .portfolio h2{
      font-family: 'Patrick Hand', cursive;
      color: deepskyblue;
      text-decoration: underline;
      margin-bottom:1.5em ;
      font-size: 1.5em;
     }
     
     .sobre p{
       color:darkslateblue;
       margin-bottom: 1.5em;
       text-indent: 1.4em ;
       text-align: justify;
       font-size: 20px;
     }
     .sobre .avatar{
      float: right;
      margin-left: 2em;
     } 
     .sobre .avatar img{
      /*border-radius: 40%;*/
      clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
     } 
      /*max-width:100px;
       max-height:1000px;
       width: auto;
       height: auto;*/

       @media (min-width: 560px) {
        .sobre .avatar {
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

          }
         }
    
     
     .portfolio .grid {
      display: grid;
      gap: 2em;
     }
        @media (min-width: 560px) {
       .portfolio .grid {
        grid-template-columns: 240px 240px;
         }
        }
        @media (min-width: 880px) {
       .portfolio .grid {
        grid-template-columns: repeat(3, 260px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 8em - 48px);
          }
        }
     .portfolio figure {
     text-align: center;
     }
     .img-portfolio{
      height: 180px;
      width: 100%;
      object-fit: cover;
      object-position: left bottom;
      transition: transform 500ms;
      border-radius: 20%;
      }
      .img-portfolio:hover {
        transform: scale(1.2)rotate(-2deg);
      }

      .flip-card{
        perspective: 500px;
      }
      .card{
        position: relative;
        transform-style: preserve-3d;
        transition: transform 2s
      }
      .flipcard:hover .card{
        transform: rotateY(180deg);
      }
      .card-front, 
      .card-back{
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
      }
      .card-back{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, .7);
        height: 180px;
        width: 100%;
        transform: rotateY(180deg)
      }

  

    @media (min-width: 1200px) {
      .img-portfolio {
       height: auto;
       width:100%;
      }
    }
    .contato{
      max-height: 50vh;
    }
    .contato a{
      color:#D143E4;
      font-size: 2em;
      transition: text-shadow 1s;
    }
    .contato a:active,
    .contato a:hover{
      text-decoration: none;
      text-shadow:0px 0px 3px rgb(29, 3, 32, 0.9)
    }
    .contato .icons{
      text-align: center;
    }